@value np from '../../breakpoint.module.css';

@keyframes appLogoSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.AppLogo {
    /* height: 40vmin;
  pointer-events: none; */
    height: 60px;
    width: 60px;
    float: left;
}

@media (np) {
    .AppLogo {
        animation: appLogoSpin infinite 20s linear;
    }
}

.appHeader {
    background-color: #fff !important;
    /* font-size: calc(10px + 2vmin); */
}

.topHeader {
    height: 40px;
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    background-color: #f5f5f5;
    line-height: 40px;
}

.topHeader .inner {
    display: flex;
    align-items: center;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.dropdownBox {
    flex: 1;
}

.buttonGroup {
    float: right;
    margin-top: 5px;
}

.mainHeader {
    background-color: #fff !important;
    height: 60px;
    line-height: 60px;
    width: 88%;
    margin: 0 auto;
}

.App-link {
    color: #61dafb;
}

.title {
    line-height: 64px !important;
    display: inline;
    /* color: #03a9f4 !important; */
    color: var(--color-primary) !important;
}

.searchInput {
    width: 400px !important;
    line-height: 64px;
    margin-top: 17px;
    margin-left: 37px;
}

.mainMenu {
    padding-left: 6% !important;
    padding-right: 6% !important;
    background-color: #1976d2 !important;
    color: #f5f5f5 !important;
}

.mainMenu {
    padding-left: 6% !important;
    padding-right: 6% !important;
    background-color: var(--color-primary) !important;
    color: #f5f5f5 !important;
}

.mainMenu li:hover {
    color: var(--color-primary--hover) !important;
    font-weight: bold;
}
